<div class="tm-section tm-position-relative">
<!--  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">-->
<!--    <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>-->
<!--  </svg>-->
  <div class="container tm-pt-5 tm-pb-4">
    <div class="row text-center">
      <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
        <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20"></i>
        <h3 class="tm-color-primary tm-article-title-1">Changing Tyres</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula blandit aliquam.</p>
        <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
      </article>
      <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
        <i class="fa tm-fa-6x fa-plane tm-color-primary tm-margin-b-20"></i>
        <h3 class="tm-color-primary tm-article-title-1">Something w tyres</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula blandit aliquam.</p>
        <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
      </article>
      <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
        <i class="fa tm-fa-6x fa-life-saver tm-color-primary tm-margin-b-20"></i>
        <h3 class="tm-color-primary tm-article-title-1">Tyre Hotel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula blandit aliquam.</p>
        <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
      </article>
    </div>
  </div>
</div>
