.edit-request {
  display:  inline-block;
  float: right;
}

.edit-request :last-child {
  margin-right: 50px;
}

label {
  cursor: pointer;
}

.page {
  margin: 5px;
  padding: 3px;
  border: 2px solid;
}

#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}
