<div class="home tm-section tm-section-pad tm-bg-img tm-position-relative">
  <div class="container ie-h-align-center-fix">
    <div class="container">
      <div class="profile"><img src="/assets/profile.png" alt="default user">
        <h3>Информация за портебителя</h3>
        <ng-container *ngIf="inUpdateMode">
          <form #form="ngForm" (ngSubmit)="updateProfile(form)">
            <div class="flex">
              <p>Име: </p>
              <input type="text" name="name" id="name" [(ngModel)]="user!.name">
            </div>
            <div class="flex">
              <p>Имейл: </p>
              <input type="email" name="email" id="email" [(ngModel)]="user!.email" readonly>
            </div>
            <div class="flex">
              <p>Телефон: </p>
              <div>
                <input type="text" name="tel" id="tel" [(ngModel)]="user!.tel">
              </div>
            </div>
            <button type="button" class="red-button" (click)="inUpdateMode = false">Откажи</button>
            <button class="green-button">Запази</button>
          </form>
        </ng-container>
        <ng-container *ngIf="!inUpdateMode">
          <div class="flex">
            <p>Име: </p>
            <p>{{user!.name}}</p>
          </div>
          <div class="flex">
            <p>Имейл: </p>
            <p>{{user!.email}}</p>
          </div>
          <div class="flex">
            <p>Телефон: </p>
            <p>{{user!.tel}}</p>
          </div>
          <button (click)="inUpdateMode = true" class="edit-button green-button">Редактирай</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-about-us-list></app-about-us-list>
