.btn-primary {
  background-color: #ee5057;
  border-color: #ee5057;
  border-radius: 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 7px 30px;
  text-transform: uppercase;
}
