<div class="form" id="register-form">
  <form [formGroup]="form" (ngSubmit)="register()" class="contact-form">
    <fieldset>
      <div class="form-group">
        <input formControlName="name" type="text" id="name" name="name" class="form-control" placeholder="Име"
               required/>
      </div>
      <ng-container *ngIf="form.get('name')?.touched">
        <p *ngIf="form.get('name')?.errors?.required" class="error">
          Името е задължително!
        </p>
        <p *ngIf="form.get('name')?.errors?.minlength" class="error">
          Името трябва да е поне четири знака!
        </p>
      </ng-container>

      <div class="form-group">
        <input formControlName="email" type="email" id="email" name="email" class="form-control" placeholder="Имейл"
               required/>
      </div>
      <ng-container *ngIf="form.get('email')?.touched">
        <p *ngIf="form.get('email')?.errors?.required" class="error">
          Имейлът е задължителен!
        </p>
        <p *ngIf="form.get('email')?.errors?.invalidEmail" class="error">
          Имейлът не е валиден!
        </p>
      </ng-container>

      <div class="form-group">
        <input formControlName="tel" type="text" id="tel" name="tel" class="form-control" placeholder="Телефон"
               required/>
      </div>
      <ng-container *ngIf="form.get('tel')?.touched">
        <p *ngIf="form.get('tel')?.errors?.required" class="error">
          Телефонът е задължителен!
        </p>
        <p *ngIf="form.get('tel')?.errors?.minlength || form.get('tel')?.errors?.maxlength" class="error">
          Телефонът трябва да е десет числа!
        </p>
        <p *ngIf="form.get('tel')?.errors?.pattern" class="error">
          Телефонът трябва да е само числа!
        </p>
      </ng-container>

      <div class="form-group">
        <input formControlName="password" type="password" id="password" name="password" class="form-control"
               placeholder="Парола" required/>
      </div>

      <ng-container *ngIf="form.get('password')?.touched">
        <p *ngIf="form.get('password')?.errors?.required" class="error">
          Паролата е задължителна!
        </p>
        <p *ngIf="form.get('password')?.errors?.minlength" class="error">
          Паролата трябва да е поне осем знака!
        </p>
      </ng-container>

      <div class="form-group">
        <input formControlName="rePassword" type="password" id="rePassword" name="rePassword" class="form-control"
               placeholder="Повтори парола" required/>
      </div>
      <ng-container *ngIf="form.get('rePassword')?.touched">
        <p *ngIf="form.get('rePassword')?.errors?.required" class="error">
          Паролата трябва да бъде повторена!
        </p>
        <p *ngIf="form.get('rePassword')?.errors?.sameValue" class="error">
          Паролите не са еднакви!
        </p>
      </ng-container>

      <button class="btn btn-primary tm-btn-primary">Регистрирай се</button>
    </fieldset>
  </form>
</div>
