<div class="tm-top-bar-bg"></div>
<div class="tm-top-bar" id="tm-top-bar">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg narbar-light">
        <a class="navbar-brand mr-auto" routerLink="/home">
          <img src="assets/wheel-cartoon-png-2.png" height="70" width="70" alt="Site logo"/>
          Wheel Service
        </a>
        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tm-section-4">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tm-section-5">Blog Entries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tm-section-6">Contact Us</a>
            </li>
          </ul>
        </div>

        <ul *ngIf="isLogged">
          <li routerLink="/profile">{{name}}'s profile</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </nav>
    </div>
  </div>
</div>
