<div class="form" id="login-form">
  <form [formGroup]="form" (ngSubmit)="login()" class="contact-form">

    <div class="form-group">
      <input formControlName="email" type="email" name="email"
             class="form-control" placeholder="Email" required/>
    </div>

    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.required" class="error">
        Email is required!
      </p>
      <p *ngIf="form.get('email')?.errors?.invalidEmail" class="error">
        Email is not valid!
      </p>
    </ng-container>

    <div class="form-group">
      <input formControlName="password" type="password" name="password" class="form-control"
             placeholder="Password" required/>
    </div>

    <ng-container *ngIf="form.get('password')?.touched">
      <p *ngIf="form.get('password')?.errors?.required" class="error">
        Password is required!
      </p>
      <p *ngIf="form.get('password')?.errors?.minlength" class="error">
        Password must be at least 4 characters!
      </p>
    </ng-container>

    <button type="submit" class="btn btn-primary tm-btn-primary">Login</button>

  </form>
</div>
