<div class="form" id="login-form">
  <form [formGroup]="form" (ngSubmit)="login()" method="post" class="contact-form">

    <div class="form-group">
      <input formControlName="email" type="email" name="email"
             class="form-control" placeholder="Имейл" required/>
    </div>

    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.required" class="error">
        Имейлът е задължителен!
      </p>
      <p *ngIf="form.get('email')?.errors?.invalidEmail" class="error">
        Имейлът е невалиден!
      </p>
    </ng-container>

    <div class="form-group">
      <input formControlName="password" type="password" name="password" class="form-control"
             placeholder="Парола" required/>
    </div>

    <ng-container *ngIf="form.get('password')?.touched">
      <p *ngIf="form.get('password')?.errors?.required" class="error">
        Паролата е задължителна!
      </p>
      <p *ngIf="form.get('password')?.errors?.minlength" class="error">
        Паролата трябва да е поне осем знака!
      </p>
    </ng-container>

    <button type="submit" class="btn btn-primary tm-btn-primary">Влез</button>

  </form>
</div>
